.container {
  border-radius: 5px;
  background: rgba(0, 153, 204, .7);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  color: #fff;
  margin-bottom: 10px;
}

.tabContainer {
  padding: 10px 0;
  display: inline-block;
}

.tab {
  text-transform: capitalize;
}

.tab:hover > a {
  background: #fff !important;
  color: rgba(0, 153, 203, .7) !important;
}
